/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipografia)
}

a{
    text-decoration: none;
    color: black;
}


li{
    list-style: none;
}

.negrita{
    font-weight: bold;
}

:root{
    --color-amarillo:#EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259c3;
    --gris-oscuro:#666;
    --gris-claro:#ebebeb;
    --verde:#39b54a;
    --tipografia: 'Roboto', sans-serif;
    --cuerpo: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos-descripciones: 16px;
}

/* Body */
body{
    background-color: #ebebeb;
}

/* Header */

header{
    background-color: var(--color-amarillo);
}

.logo-busqueda{
    display: flex;
    background-color: var(--color-amarillo);
    flex-wrap: wrap;
}

div.logo-container{
    width: 50%;
}

.logo{
    margin-top: 30px;
    margin-left: 15px;
    width: 90%;
}

div.input{
width: 50%;
}

#busqueda{
    margin-top: 27px;
    margin-left: 10px;
    height: 32px;
    width: 76%;
    border-radius: 5%;
    border: none;
}

i.fas.fa-search{
    padding: 2px;
    background-color: white;
    border-radius: 5px;
}

div.cuotas-container{
    width: 100%;
}

p.cuotas{
    margin-top: 27px;
}

.cuotas, p.titulares{
    text-align: center;
}

.nav-menu{
    display: none;
}

.nav-header{
    display: none;
}

li, .cuotas {
    font-size: var(--cuerpo);
    font-weight: bold;
}

.burger-menu{
background-color: var(--color-celeste);
display: inline-block;
border-radius: 5px;
margin: 20px 45vw;
}

i.fas.fa-bars{
    color: white;
    font-size: 20px;
    padding: 8px;
}

.banner{
    object-fit: cover;
    display: none;
}

/* Main */

main{
    margin: auto;
    width: 90vw;
    background-color: #ebebeb;
}

.titulares{
    font-weight: bold;
    font-size: var(--titulares);
    padding: 20px 20px;
}

p.titulares{
    display: inline;
    width: 100%;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section article i {
    color: var(--verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

article{
    background-color: white;
    margin: 10px 0;
}

.productos{
    width: 100%;
}

.precio-descripcion{
    position: relative;
    display: flex;
    padding: 12px;
    border: 1px solid var(--gris-claro);
    flex-wrap: wrap;
    justify-content: space-between;
}

.precio{
    font-size: var(--precios);
    font-weight: bold;
    width: 30%;
}

.descuento{
    font-size: var(--descuentos-descripciones);
    font-weight: bold;
    color: var(--verde);
    width: 70%;
}

.descuentos-descripciones{
    font-size: var(--descuentos-descripciones);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px;
    display: none;
}


/* Footer */ 

footer {
    background-color: white;
    padding: 1px 0px;
    margin: 10px 10px;
}

.cuerpo-texto{
    font-size: var(--cuerpo);
}

footer i{
    text-align: center;
    width: 100%;
}

i.fas.fa-credit-card , i.fas.fa-gift , i.fas.fa-user-shield {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-celeste);
}

footer section{
    margin: 50px 45px;
}

footer section p{
    text-align: center;
    margin:1px 20px;
}

p.end.negrita{
    text-align: start;
    margin: 50px -20px;
}


/* Media Queries */

     
/* 768px - Tablet */
@media (min-width: 768px){

/* Header */
div.logo-container {
    width: 32%;
}
.logo{
    display: flex;
}
div.input {
    width: 32%;
}
#busqueda {
    margin-top: 54px;
    height: 20px;
    width: 85%;
    border: 1px solid grey;
}
.logo-busqueda {
    margin-bottom: 30px;
}
i.fas.fa-search {
    border: 1px solid grey;
}
div.cuotas-container {
    width: 33%;
}
p.cuotas {
    margin-left: 20px;
    margin-top: 58px;
}
header .header-nav{
    display: flex;
    background-color: var(--color-amarillo);
    justify-content: space-between;
}
.nav-menu{
    display: inline;
}
ul.nav-menu-list{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}
.nav-header{
    display: inline;
}
ul.nav-header-list{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}
.burger-menu{
    display: none;
}
.banner{
    display: block;
    width: 100vw;
        }

/* Main */
main{
    width: 100vw;
}

.descuento{
    width: 39%;
}

.descuentos-descripciones{
    display: block;
}


main section article {
    box-shadow: 0px 0px 10px 0px rgb(100 100 100);
    margin: 10px 10px;
    width: 45%;
}

}

@media (min-width: 1024px) {
main section article {
    width: 22%;
}


}
